@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a src="https://localhost:7167/Seasons/gdfg/Attack.on.Titan.full.3108626.jpg" ></a>  
<br />
<br />
<br />
<br />
<br />
<script src="~/js/site.js" type="module" asp-append-version="true"></script>